<!DOCTYPE html>
<html>
<head>
	<title>Data Bags</title>
</head>
<body>
     <h1>person  <%= @name%></h1>
     <p>Current age is  <%= @age %>.martial status is <%= @martialstatus %>.present stream is <%=@course%></p>
</body>
</html>